doctype html
html
  head
    title= title
    <style>  
      | body { background-color: black; display: flex;}
      | img {max-width: 100%; height: auto;}
    </style>

  body
  div.main
    h1= message
    img(src= src, alt="")